# Source file
src/**

# Build files
**/tsconfig.json
**/tsconfig-base.json
**/tslint.json
**/*.map
**/*.ts
*.tsbuildinfo

# VSCode files
*.code-workspace
.vscode/**
.vscode-test/**

# Test files
test/**
out/test/**

# Git files
.gitignore

# node_modules
node_modules/**/*.md