# Source file
src/**

# Build files
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
**/*.tsbuildinfo

# VSCode files
*.code-workspace
.vscode/**
.vscode-test/**

# Test files
test/**
out/test/**

# Git files
.gitignore

# node_modules
node_modules/**/*.md

# assets
**/*.psd

# extension
**/*.zip
**/*.vsix